

.main-row{
    margin-top:10px;
}
.main-image{
    transition: transform 0.5s ease;

}
.main-image:hover{
    transform: scale(1.1);
}
.main-start{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:flex-start;

}
#titulo{
    font-family: 'Permanent Marker', cursive;
    font-size: 125px;
    color: rgb(255, 196, 0);
    -webkit-text-stroke: 5px rgb(255, 102, 0);
    text-shadow: 0px 5px 3px grey;
    transition: transform 0.5s ease, text-shadow 0.5s ease;
   
}
#titulo:hover{
    transform: rotate(5deg);
    text-shadow: 5px 5px 3px black;
}
#slogan{
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color:rgb(255, 102, 0);
    text-shadow:1px 1px 3px black;
    transition: transform 0.5s ease, text-shadow 0.5s ease;
}
#slogan:hover{
    transform: rotate(-5deg);
    text-shadow: 2px 2px 2px black;
}
