.navbar{
    background-image: linear-gradient(to bottom, rgb(255, 230, 0), rgb(182, 103, 0));
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    border-bottom: 20px solid rgba(134, 0, 0, 0.856);
    box-shadow: 0px 5px 10px black;
}
.nav-link{
    color: white;
    letter-spacing: 5px;
}
.navbar-brand{
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-shadow: 4px 4px 4px red;
    font-size: 35px;
    transition: color 0.5s ease, transform 0.5s ease;
}
.navbar-brand:hover{
    color:yellow;
    transform: scale(1.1);
    
}
.navbar-brand > img {
    margin-right:10px;

}

.nav-container{
    letter-spacing: inherit;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    background-color: rgba(161, 0, 0, 0.37);
    border-radius:10px;
}
.nav-item{
    transition: background-image 0.5s ease, text-shadow 0.5s ease;
    text-decoration:none;
}
.nav-item:hover{
    background-image: radial-gradient( circle, rgba(255, 255, 255, 0.411), rgba(255, 255, 255, 0.37), rgba(255, 255, 0, 0.205), rgba(255, 255, 255, 0));
    text-shadow:2px 2px 2px black;
}
.nav-link:hover{
    text-decoration: none;
    color: white;
}


  