.quienes-somos{
    background-color: rgba(255, 255, 0, 0.582);
    box-shadow: 0px 0px 15px orange;
    width:400px;
    height:200px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
    border-radius:5px;
}
.quienes-somos:hover{
    background-color: yellow;
    box-shadow: 0px 0px 15px white;
}
#que-es{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 40px;
}
#somos{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    text-align:center;
    font-size: 20px;
}
#animate{
    font-family: 'Muli', sans-serif;
    font-weight: bolder;
    text-align:center;
}


/* segunda columna*/
.about-2{
 display:flex;
 flex-direction: column;
 align-items:center;
 justify-content: space-around;

}
.descubri-posts{
    background-color: rgba(255, 255, 0, 0.582);
    box-shadow: 0px 0px 15px orange;
    width:80%;
    height:90px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
    border-radius:5px;
}
.descubri-posts:hover{
    background-color: yellow;
    box-shadow: 0px 0px 15px white;
}

.hace-posts{
    background-color: rgba(255, 255, 0, 0.582);
    box-shadow: 0px 0px 15px orange;
    width:70%;
    height:90px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
    border-radius:5px;
}
.hace-posts:hover{
    background-color: yellow;
    box-shadow: 0px 0px 15px white;
}

#descubri{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 40px;
}
#crea{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 40px;
}
.descubri-posts>p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    text-align:center;
    font-size: 20px;
}
.hace-posts>p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    text-align:center;
    font-size: 20px;
}

