
.card-title, .card-text{
    text-shadow:2px 2px 2px black;
}
.home-card{
    height: 80%;
}
.card-img{
    height: 100%;
    background: none;
   
}
.card{
    box-shadow: 0px 0px 15px orange;
    transition: filter 0.5s ease;
   
}
.card:hover{
    filter: saturate(300%);
}
.home-header{
    transition: color 0.5s ease, text-shadow 0.5s ease;
    text-shadow: 3px 3px 3px orange;
    text-align:center;
    margin-bottom:20px;
}
.home-header:hover{
    color: orange;
    text-shadow: 3px 3px 3px black;
}

.card-img-overlay{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}